<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}Silex Admin Gen by C2iS{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ app.request.basePath }}/admingen/default/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ app.request.basePath }}/admingen/default/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ app.request.basePath }}/admingen/default/css/select2.css">
        <link rel="stylesheet" href="{{ app.request.basePath }}/admingen/default/css/admingen.css">
        <link rel="stylesheet" href="{{ app.request.basePath }}/admingen/default/css/bootstrap-responsive.min.css">
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    <div id="admin_header">
        {% include '@AdminGen/Menu/main.html.twig' %}
    </div>
    <div id="admin_content" class="container">
        {% block content '' %}
    </div>
    {% block javascripts %}
        <script src="{{ app.request.basePath }}/admingen/default/js/jquery.min.js"></script>
        <script src="{{ app.request.basePath }}/admingen/default/js/bootstrap.min.js"></script>
        <script src="{{ app.request.basePath }}/admingen/default/js/confirm-bootstrap.js"></script>
        <script src="{{ app.request.basePath }}/admingen/default/js/jqBootstrapValidation.js"></script>
        <script src="{{ app.request.basePath }}/admingen/default/js/select2.min.js"></script>
        <script src="{{ app.request.basePath }}/admingen/ckeditor/ckeditor.js"></script>
        <script src="{{ app.request.basePath }}/admingen/default/js/admingen.js"></script>
    {% endblock %}
</body>
</html>
