<!DOCTYPE html>
<html>
<head>
    <title>Silex Admin Gen by C2iS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ app.request.basePath }}/admingen/default/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ app.request.basePath }}/admingen/default/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ app.request.basePath }}/admingen/default/css/admingen.css">
    <link rel="stylesheet" href="{{ app.request.basePath }}/admingen/default/css/bootstrap-responsive.min.css">
</head>
<body>
    <div id="admin_header">
        {% include '@AdminGen/Menu/main.html.twig' %}
    </div>
    <div id="admin_content" class="container">
        {% block content '' %}
    </div>

    <script src="{{ app.request.basePath }}/admingen/default/js/jquery.min.js"></script>
    <script src="{{ app.request.basePath }}/admingen/default/js/bootstrap.min.js"></script>
    <script src="{{ app.request.basePath }}/admingen/default/js/confirm-bootstrap.js"></script>
    <script src="{{ app.request.basePath }}/admingen/default/js/jqBootstrapValidation.js"></script>
    <script src="{{ app.request.basePath }}/admingen/ckeditor/ckeditor.js"></script>
    <script src="{{ app.request.basePath }}/admingen/default/js/admingen.js"></script>
</body>
</html>
