{% extends "@AdminGen/layout.html.twig" %}

{% block content %}
    <div class="btn-group pull-right">
        <a class="btn add btn-success" href="{{ path('%s_admingen_create' | format (name)) }}"><i class="icon-plus icon-white"></i> {{ "crud.button.add" | trans }}</a>
    </div>
    <h1>{{ (name ~ ".crud.list") | trans }}</h1>
    <hr />
    <div class="row">
        <div class="span8"></div>
        <div class="span4">
            {% if (paginator.nextPage != paginator.page or paginator.previousPage != paginator.page) and lines | length != 0 %}
            {% include 'Crud/paginator.twig'%}
            {% endif %}
        </div>
    </div>
    <table id="list" class="table table-striped ">
        <thead>
        <tr>
            {% for column_name in columns %}
            {% if column_name != name ~ ".active" %}
                <th>{{ column_name | trans }}</th>
            {% endif %}
            {% endfor %}
            <th class="actions-item" colspan="3">{{ 'list.actions' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for line in lines %}
        <tr class="line">
            {% for column_name,column in line %}
            {% if column_name != "active" %}
                <td>{{ column | raw }}</td>
            {% endif %}
            {% endfor %}
            <td class="actions-item"><a class="edit" href="{{ path('%s_admingen_update' | format (name), {'object': line.id}) }}"><i class="icon-edit"></i></a></td>
            <td class="actions-item"><a class="delete" href="{{ path('%s_admingen_delete' | format (name), {'object': line.id}) }}"><i data-confirm-ok="{{ "crud.modal.delete.ok" | trans }}" data-confirm-cancel="{{ "crud.modal.delete.cancel" | trans }}" data-confirm-title="{{ "crud.modal.delete.title" | trans }}" data-confirm-message="{{ "crud.modal.delete.message" | trans  ({'%code%': line.id }) }}"  class="icon-remove-circle"></i></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        $('.actions-item .delete').confirmModal();
    </script>
    {% if (paginator.nextPage != paginator.page or paginator.previousPage != paginator.page) and lines | length != 0 %}
    {% include 'Crud/paginator.twig'%}
    {% endif %}
{% endblock %}
