{% if admin_items is not defined %}
    {% set admin_items = app['admingen.menu'].items %}
{% endif %}
<div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container">
            {% if app['admingen.menu'].home_route is defined %}
                {% set homePath = path(app['admingen.menu'].home_route) %}
            {% else %}
                {% set homePath = '#' %}
            {% endif %}
            <a class="brand" href="{{ homePath }}">{% if app['admingen.menu'].logo is defined %}<img src="{{ app.request.basePath ~ app['admingen.menu'].logo }}" title="{{ app['admingen.menu'].title }}" />{% else %}{{ app['admingen.menu'].title }}{% endif %}</a>
            <ul class="nav">
                {% for item in admin_items %}
                <li{% if item.active is defined and attribute(app, item.active) is defined and attribute(app, item.active) == item.slug %} class="active"{% endif %}><a href="{{ context_path(item.route, item.parameters) }}">{{ item.title | trans }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
